<div *ngIf="message" class="message" [ngClass]="{'success': !error, 'error': error}">
  {{ message }}
</div>
<div *ngIf="teachers$ | async as teachers; else loading">
  <div class="container">
    <h1>Teacher List</h1>

    <!-- Create New Teacher Button -->
    <a routerLink="/teacher/create" class="create-button">Create New Teacher</a>

    <!-- Teacher List Table -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>City</th>
          <th>Role</th>
          <th>Created Date</th>
          <th>Created Admin Name</th>
          <th>Login Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.gender }}</td>
          <td>{{ teacher.city }}</td>
          <td>{{ teacher.role }}</td>
          <td>{{ teacher.createdDate | date: 'short' }}</td>
          <!-- <td [ngStyle]="{ color: teacher.password === 'teacher' ? 'red' : 'green' }">
            {{ teacher.password === 'teacher' ? teacher.generate_password : 'Logged In!' }}
          </td> -->
          <td>{{ teacher.adminName }}</td>
          <td> {{teacher.loginStatus}} </td>
          <td>
            <a [routerLink]="['/teacher/editteacher', teacher.id]">
              <i class="fas fa-edit"></i>Edit
            </a>
            <a (click)="suspendTeacher(teacher.id)" style="cursor: pointer; margin-left: 10px;">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Restore Teacher Button -->
    <a routerLink="/teacher/restore" class="create-button">Restore Teacher</a>
  </div>
</div>

<ng-template #loading>
  <p>Loading teachers...</p>
</ng-template>